:root {
  --page-bg: #f0f0f0;
  --search-box-bg: white;
  --search-box-fg: black;
  --result-bg: white;
  --result-fg: black;
  --header-bg: white;
  --border-color: #ccc;
  --shadow-color: #cccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: #222;
    --search-box-bg: black;
    --search-box-fg: white;
    --result-bg: black;
    --result-fg: white;
    --header-bg: #111;
    --border-color: #444;
    --shadow-color: black;
  }

  #logo {
    filter: invert(0.93);
  }
}
