@keyframes result-show {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
  }
}

.search-result {
  animation: result-show 0.5s ease forwards;
  border-radius: 8px;
  background-color: var(--result-bg);
  color: var(--result-fg);
  box-shadow: 0 2px 6px 0 var(--shadow-color);
  display: flex;
  flex-direction: row;
  height: 15em;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--border-color);
}

.search-result .video {
  height: 100%;
  width: 15em;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border: 0;
  outline: 0;
}

.search-result .details {
  display: grid;
  gap: 1em;
  padding: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  width: 100%;
}

.search-result .video + .details {
  width: calc(100% - 15em);
}

.search-result .details svg {
  /* color: #39e; */
  height: 2.5em;
  width: 2.5em;
}

.search-result .details .song {
  grid-column: 1 / -1;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.25em;
  border-bottom: 1.5px dashed #9998;
}

.search-result .details .album,
.search-result .details .composer,
.search-result .details .singer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  text-align: center;
}

.search-result .details .album .label,
.search-result .details .composer .label,
.search-result .details .singer .label {
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 0.5em;
}

@media screen and (max-width: 800px) {
  .search-result {
    flex-direction: column;
    width: 80vw;
    box-sizing: border-box;
    height: auto;
  }

  .search-result .video {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0;
    border: 0;
    outline: 0;
  }

  .search-result .details {
    width: 100% !important;
  }
}

@media screen and (min-width: 2000px) {
  .search-result:nth-child(odd):last-child {
    grid-column: 1/-1;
  }
}
