.header {
  background: var(--header-bg);
  display: flex;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 0 var(--shadow-color);
  border-bottom: 1px solid var(--border-color);
}

.logo {
  height: 56px;
  width: 110px;
  margin: 5px 0;
  background-image: url("/images/logo.png");
  background-size: contain;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(0.93);
  }
}

.header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
