openapi: 3.0.3
info:
  title: Which Beatle API
  description: |
    This is a RESTful API for looking up information about
    Beatles songs. It is part of my **Which Beatle?** project.
  version: 0.1.0
externalDocs:
  description: For more information, see the project's GitHub repository
  url: https://github.com/jrgermain/whichbeatle-web
servers:
  - url: https://whichbeatle.jrgermain.dev/api
paths:
  /songs:
    get:
      summary: Get a list of songs
      description: |
        Gets information about Beatles songs, optionally
        filtered by one or more of the criteria outlined below.
        If no criteria are defined, all songs are returned. If
        multiple criteria are defined, songs must match ALL of
        the criteria provided.
      parameters:
        - name: title
          in: query
          description: |
            The title of the song to search for. If specified
            multiple times, songs with any of the provided
            titles will be returned. If omitted, songs will not
            be filtered by title.
          schema:
            type: array
            items:
              type: string
        - name: composer
          in: query
          description: |
            The last name of the composer to filter by. If
            specified multiple times, songs with any of the
            provided composers will be returned. If omitted,
            songs will not be filtered by composer.
          schema:
            type: array
            items:
              type: string
        - name: singer
          in: query
          description: |
            The last name of the singer to filter by. If
            specified multiple times, songs with any of the
            provided singers will be returned. If omitted,
            songs will not be filtered by singer.
          schema:
            type: array
            items:
              type: string
        - name: album
          in: query
          description: |
            The title of the album to filter by. If specified
            multiple times, songs that appear on any of the
            provided albums will be returned. If omitted, songs
            will not be filtered by album.
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: |
            A list of songs filtered by any criteria specified
            in the query string
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    album:
                      type: string
                    composer:
                      type: string
                    singer:
                      type: string
                    title:
                      type: string
  /songs/random:
    get:
      summary: Get a random song title
      responses:
        "200":
          description: The title of a random Beatles song
          content:
            text/plain:
              schema:
                type: string
                example: Yellow Submarine
